---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: cloudflare-api-token
  namespace: cert-manager
spec:
  encryptedData:
    api-token: AgAte/l7EEw3HyCpWwL6+3CzmyqGX6k+EBs92HqkQHfESgkI7ij8q2ElrOiQ1oTHfzh2JV64d1v621FIap5aa6H1Vin4bn7r8wd4oQuUuDehQGXXxqAr7oR3/QagW6uzZiW8Hh/dQoOUUbZbjyO72S3YZU+mxdz2qblUEGLck9CposJ5lHpUr4mc7YhPbFMimNlc2H6jd6lWfl03WvjGFeDhfaVRC7MeifaIscA7d5jx361Pya6lHzkBPkXM8V6FCljAsrq/QDWsfxOM3vRQ9LzrNEMEhpYV+ZXDJb8vnn4A835Bd0Doy/3f/DwRzaQBX8D1UmljaGnU8lFopYdladcEd7D/oT75erfaQZGxIV+FFpHZtLCgCqt6XBvW6U8BNcXxAVcUysKqLRRfE/BGx6a3i2U0aQVOI+Oj652JkEg0nktbQWT+7enDWD6cDkyxQDNTw4B6Cc3QUbxi1G42LwJAI+f6Ks5ih41j3GppEMVwP1+E8MjwzC+n3m1vixpUitByOrToBwmhoMuG+2lMJ81W7O+3yWFDmlPpiyf2GI2wER222Ty+lmrvRR0HnxghIzPBh3rWnCzsLIPHEdx4gjvEVNsNFfvjaabOBQT/Xm+DnNmCoJmnGWrp1B9ugKaW8SAdotqRZFiBpF/dTn51VS+WPhBAWFaC5JpCKhZt0KsnMBgE7Gkz28az5MqYKd2CfyqJH0c+BlikdemHvSphNbCLqoYSTq2IB1DGVTmrug71Tm7nPLlaZu2O
  template:
    metadata:
      name: cloudflare-api-token
      namespace: cert-manager
