apiVersion: v1
kind: ConfigMap
metadata:
  name: authentik-blueprints
  namespace: authentik
data:
  sso.yaml: |
    version: 1
    metadata:
      name: SSO Applications

    entries:
      # Groups
      - model: authentik_core.group
        id: grafana-admins
        state: present
        identifiers:
          name: Grafana Admins

      - model: authentik_core.group
        id: grafana-editors
        state: present
        identifiers:
          name: Grafana Editors

      - model: authentik_core.group
        id: argocd-admins
        state: present
        identifiers:
          name: ArgoCD Admins

      - model: authentik_providers_oauth2.scopemapping
        id: groups-scope
        state: present
        identifiers:
          name: "Blueprint Groups"
        attrs:
          scope_name: groups
          description: "Group memberships"
          expression: |
            return [group.name for group in request.user.ak_groups.all()]

      # Grafana
      - model: authentik_providers_oauth2.oauth2provider
        id: grafana-provider
        state: present
        identifiers:
          name: Grafana
        attrs:
          authorization_flow: !Find [authentik_flows.flow, [slug, default-provider-authorization-explicit-consent]]
          client_type: confidential
          client_id: !Env GRAFANA_CLIENT_ID
          client_secret: !Env GRAFANA_CLIENT_SECRET
          redirect_uris: "https://monitoring.barnes.biz/login/generic_oauth"
          signing_key: !Find [authentik_crypto.certificatekeypair, [name, "authentik Self-signed Certificate"]]
          property_mappings:
            - !Find [authentik_providers_oauth2.scopemapping, [scope_name, openid]]
            - !Find [authentik_providers_oauth2.scopemapping, [scope_name, email]]
            - !Find [authentik_providers_oauth2.scopemapping, [scope_name, profile]]
            - !KeyOf groups-scope

      - model: authentik_core.application
        id: grafana-app
        state: present
        identifiers:
          slug: grafana
        attrs:
          name: Grafana
          provider: !KeyOf grafana-provider
          meta_launch_url: https://monitoring.barnes.biz

      # ArgoCD
      - model: authentik_providers_oauth2.oauth2provider
        id: argocd-provider
        state: present
        identifiers:
          name: ArgoCD
        attrs:
          authorization_flow: !Find [authentik_flows.flow, [slug, default-provider-authorization-explicit-consent]]
          client_type: confidential
          client_id: !Env ARGOCD_CLIENT_ID
          client_secret: !Env ARGOCD_CLIENT_SECRET
          redirect_uris: "https://argo.barnes.biz/api/dex/callback"
          signing_key: !Find [authentik_crypto.certificatekeypair, [name, "authentik Self-signed Certificate"]]
          property_mappings:
            - !Find [authentik_providers_oauth2.scopemapping, [scope_name, openid]]
            - !Find [authentik_providers_oauth2.scopemapping, [scope_name, email]]
            - !Find [authentik_providers_oauth2.scopemapping, [scope_name, profile]]
            - !KeyOf groups-scope

      - model: authentik_core.application
        id: argocd-app
        state: present
        identifiers:
          slug: argocd
        attrs:
          name: ArgoCD
          provider: !KeyOf argocd-provider
          meta_launch_url: https://argo.barnes.biz

      # Immich
      - model: authentik_providers_oauth2.oauth2provider
        id: immich-provider
        state: present
        identifiers:
          name: Immich
        attrs:
          authorization_flow: !Find [authentik_flows.flow, [slug, default-provider-authorization-explicit-consent]]
          client_type: confidential
          client_id: !Env IMMICH_CLIENT_ID
          client_secret: !Env IMMICH_CLIENT_SECRET
          redirect_uris: |-
            https://immich.barnes.biz/auth/login
            app.immich:/
          signing_key: !Find [authentik_crypto.certificatekeypair, [name, "authentik Self-signed Certificate"]]
          property_mappings:
            - !Find [authentik_providers_oauth2.scopemapping, [scope_name, openid]]
            - !Find [authentik_providers_oauth2.scopemapping, [scope_name, email]]
            - !Find [authentik_providers_oauth2.scopemapping, [scope_name, profile]]

      - model: authentik_core.application
        id: immich-app
        state: present
        identifiers:
          slug: immich
        attrs:
          name: Immich
          provider: !KeyOf immich-provider
          meta_launch_url: https://immich.barnes.biz
