fullnameOverride: grafana

plugins:
  - grafana-strava-datasource

envFromSecrets:
  - name: grafana-oidc
  - name: grafana-strava

sidecar:
  dashboards:
    enabled: true
    label: grafana_dashboard
    labelValue: "1"
    folderAnnotation: grafana_folder

grafana.ini:
  server:
    domain: monitoring.barnes.biz
    root_url: https://monitoring.barnes.biz
  security:
    disable_initial_admin_creation: true
  auth:
    disable_login_form: true
    signout_redirect_url: https://auth.barnes.biz/application/o/grafana/end-session/
  auth.generic_oauth:
    enabled: true
    name: Authentik
    allow_sign_up: true
    auto_login: true
    client_id: ${GF_AUTH_GENERIC_OAUTH_CLIENT_ID}
    client_secret: ${GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET}
    scopes: openid profile email
    auth_url: https://auth.barnes.biz/application/o/authorize/
    token_url: https://auth.barnes.biz/application/o/token/
    api_url: https://auth.barnes.biz/application/o/userinfo/
    role_attribute_path: >-
      contains(groups, 'Grafana Admins') && 'Admin' ||
      contains(groups, 'Grafana Editors') && 'Editor' ||
      'Viewer'

datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
      - name: Prometheus
        uid: prometheus
        type: prometheus
        url: http://prometheus.monitoring.svc.cluster.local
        access: proxy
        isDefault: true
      - name: Loki
        uid: loki
        type: loki
        url: http://loki.monitoring.svc.cluster.local:3100
        access: proxy
      - name: Tempo
        uid: tempo
        type: tempo
        url: http://tempo.monitoring.svc.cluster.local:3200
        access: proxy
        jsonData:
          tracesToLogsV2:
            datasourceUid: loki
          tracesToMetrics:
            datasourceUid: prometheus
      - name: Strava
        uid: strava
        type: grafana-strava-datasource
        access: proxy
        jsonData:
          clientID: !!str ${STRAVA_CLIENT_ID}
        secureJsonData:
          clientSecret: ${STRAVA_CLIENT_SECRET}
          refreshToken: ${STRAVA_REFRESH_TOKEN}
