apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: blocky
  namespace: blocky
spec:
  parentRefs:
    - group: gateway.networking.k8s.io
      kind: Gateway
      name: main
      namespace: gateway
  hostnames:
    - blocky.barnes.biz
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /
      backendRefs:
        - group: ""
          kind: Service
          name: blocky-helm-ui
          port: 8002
          weight: 1
