---
name: CI
on:
  pull_request:
  push:
    branches: [main]

permissions:
  contents: read

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  yaml:
    name: YAML Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: ibiqlik/action-yamllint@2576378a8e339169678f9939646ee3ee325e845c # v3
        with:
          config_file: .github/.yamllint.yaml

  kubernetes:
    name: Kubernetes Validation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: bmuschko/setup-kubeconform@1e2d81d44a6bb6d50c087ddf1ca46a54c7848cb3 # v1
        with:
          kubeconform-version: 0.6.7
      - name: Validate manifests
        run: |
          SCHEMA_URL=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/argoproj.io/application_v1alpha1.json

          kubeconform -strict -summary \
            -schema-location default \
            -schema-location "$SCHEMA_URL" \
            apps/*.yaml

  markdown:
    name: Markdown
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: DavidAnson/markdownlint-cli2-action@07035fd053f7be764496c0f8d8f9f41f98305101 # v22
        with:
          globs: "**/*.md"
          config: .github/.markdownlint.json

  security:
    name: Security
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Trivy - Secrets
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # 0.33.1
        with:
          scan-type: fs
          scanners: secret
          exit-code: 1
      - name: Trivy - IaC Misconfigurations
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # 0.33.1
        with:
          scan-type: config
          exit-code: 1
          trivy-config: .github/trivy.yaml
